html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2 !important;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  color: rgb(70,68,129);
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
li.react-datepicker__time-list-item--selected
{
  background: rgb(70,68,129) !important;
}

.react-datepicker {
  color: rgb(70,68,129) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
