.oneDay {
  //background: red;
  border-radius: 12px;
  margin-bottom: 25px;
  border: 2px solid rgb(236,235,239);
}

.oneDayHeader {
  padding: 10px;
  border-radius: 12px;
  background: rgb(236,235,239);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}